<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<button id="return-to-top"><i class="icon-chevron-up"></i></button>

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div id="mobileScreen">


<footer>
  <nav class="footer-inner">
    <section class="footer-item">
      <h1>POGY</h1>
       
      <h2>Pogy is a multi-purpose discord bot <br>ready to skill up and boost up <br>your Discord server!</h2>
      <br>
      <a href="https://www.patreon.com/pogybot"><img alt="become a patron" src="https://c5.patreon.com/external/logo/become_a_patron_button.png"></a>
    </section>
        
    <section class="footer-item">
      <h3>Useful links</h3>
        <ul>
          <li><a href="/policy">Policy</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="https://docs.pogy.xyz">Docs</a></li>
          <li><a href="/premium">Premium</a></li>
        </ul>
    </section>
          
    <section class="footer-item">
    <h3>&nbsp;</h3>
    <ul>
          <li><a href="/report">Report</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/support">Support</a></li>
           <li><a href="/Embeds">Embeds</a></li>
        </ul>
   
    </section>
            
    <section class="footer-item">
 
    </section>
        
    <section class="footer-item">
        <h3>Contact</h3>
        <p><i class="fab" style="font-size:16px"> &#xf392; </i> Peter_#4444<br><a href="/contact">or here</a></p>
    </section>
        
    <section class="footer-item">
      <h3>Legal</h3>
        <ul>
          <li><a href="/policy">Terms</a></li>
          <li><a href="/policy">Privacy</a></li>
        </ul>
    </section>

      <section class="footer-item">
  <div class="hover">

  </div>

    </section> 
  </nav>
 
</footer>

<div class="ready">
  <button class="right" onclick="PopupCenter('<%= `${https}discordapp.com/oauth2/authorize?client_id=767705905235099658&scope=bot&response_type=code&redirect_uri=${encodeURIComponent(`${domain}/thanks`)}&permissions=490073207` %>', 'Add Pogy to your server.', 500, 666)">Invite Me</button>
  
    <p><b style="font-size: 20px">Ready to Boost Your discord Server?</b><br>
  Pogy is the best discord bot to grow your discord server.</p>
  </div>

  </div>

<style>

#return-to-top {
    border:none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 1px;
    top: 1px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}



.right{
position: absolute;
right: 0;
margin-right: 80px;
background-color: #7289da;
border: 2px solid #7289da;
color: #fff;
display: inline-block;
font-family: Whitney, "Open Sans", Helvetica, sans-serif;
font-weight: 400;
font-size: 11pt;
border-radius: 3px;
cursor: pointer;
height: 45px;
width: 250px;
box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.right:active {
  transform: translateY(2px);
}
.right:hover {
  transform: translateY(1px);
}
.ready{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 120px;
}
footer {
    background-color: #222222;
    font-family: "Lato", sans-serif;
    padding: 85px 0 285px 0;
    border: 5px solid #2f2f2f;
    border-radius: 5px;
    margin-left: 80px;
    
    margin-right: 80px;
    
}

.footer-inner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    max-width: 1170px;
    position: relative;
}

.footer-item {
    float: left;
    margin: 0 7.2% 0 0;
}

.footer-item:nth-of-type(4) {
    display: none;
}

.footer-item:nth-of-type(7) {
    float: right;
    margin-right: 0;
}

.footer-button {
    color: white;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    transition: 1s;
    transition-delay: .2s;
    padding: 14px;
}
  
.footer-button:after {
    content: "";
    position: absolute;
    top: 45px;
    right: 13px;
    background-color: white;
    height: 1px;
    width: 86px;
    transition: .6s;
}
  
.footer-button:hover {
    color: black;
    background-color: white;
}
  
.footer-button:hover:after {
    width: 112px;
    right: 0px;
}

h1 {
    font-weight: 900;
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 10px;
}
  
h2 {
    font-weight: 300;
    line-height: 1.8;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
    padding: 15px 0 0 0;
}
  
.color {
    color: white;
    font-weight: 400;
}
  
h3 {
    font-weight: 400;
    font-size: 13px;
    color: white;
    margin: 0;
    padding-bottom: 9px;
    letter-spacing: 0.03em;
}

h3.desktop {
    padding-top: 30px;
}
  
ul {
    line-height: 1.8;
    list-style-type: none;
    padding: 0;
}
  
li {
    font-weight: 300;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
}
  
p {
    font-weight: 300;
    font-size: 13px;
    padding: 0;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
  
a {
    text-decoration: none;
    color: #d1d1d1;
}
  
a:hover {
    color: white;
}
  
.desktop {
    display: auto;
}

.footer-inner:after {
    content: "© 2021 Pogy, All rights reserved";
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 13px;
    color: #d1d1d1;
    position: absolute;
    top: 260px;
    clear: both;
    display: block;
}

@media (max-width: 1024px) {
  
footer {
    padding: 50px 0 70px 0 !important;
}

.footer-inner {
    border-bottom: 1px solid #333;
    padding-bottom: 490px;
    margin-bottom: 50px;
}

.footer-item {
    margin: 0 0 42px 0;
    width: 50%;
}

.footer-item:nth-of-type(1) {
    border-bottom: 1px solid #333;
    padding-bottom: 32px;
    float: none;
    width: 100%;
}

.footer-item:nth-of-type(2) {
    clear: both;
}

.footer-item:nth-of-type(4) {
    clear: both;
    display: block;
}

.footer-item:nth-of-type(6) {
    clear: both;
}

.footer-item:nth-of-type(7) {
    clear: both;
    float: left;
    margin: 20px 0 0 -13px;
}

.desktop {
    display: none;
}

.footer-inner:after {
    top: 730px;
}
}

.hover {
width:200px;
height: 200px;
background-position: center;
background-size: cover;
position: relative;
background-image: url('<%= domain %>/logo.png');
animation: hover 3s infinite linear;
} 
@keyframes hover {
  0%   {top: 0px;}
  50%  {top: 80px;}
  100% {top: 0px;}
}
#mobileScreen {
display: block;
}

@media only screen and (max-width: 1024px) {
  #mobileScreen {
    display: none;
  }
}
</style>
<script>
    function PopupCenter(e, n, t, i) {
        var o = void 0 != window.screenLeft ? window.screenLeft : screen.left,
            d = void 0 != window.screenTop ? window.screenTop : screen.top,
            c = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width,
            w = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height,
            r = c / 2 - t / 2 + o, h = w / 2 - i / 2 + d,
            s = window.open(e, n, "scrollbars=yes, width=" + t + ", height=" + i + ", top=" + h + ", left=" + r);
        window.focus && s.focus()
    }
</script>
<script>
$(window).scroll(function() {
    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
        $('#return-to-top').fadeIn(200);    // Fade in the arrow
    } else {
        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
    }
});
$('#return-to-top').click(function() {      // When arrow is clicked
    $('body,html').animate({
        scrollTop : 0                       // Scroll to top of body
    }, 500);
});
</script>
