<%- include("partials/head", {arc, bot, user, path, description, title: "Pogy - Policy",  url, image }) %>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 style="text-align: center; font-size: 45px ">Pogy's Privacy Policy</h1>
<br>
<br>
<br>
<br>
<div>
<div style="margin: 100px; font-size:60px">
<p><b><u>Storage and Usage (users)</u></b><br>
We store user-id, username, and user-discriminator.<br>
<br>
<b><u>Storage and Usage (guilds)</b></u><br>
Pogy stores public information; Configuration saves & Custom prefixes, guild name + guild ID<br>
<br>
<b><u>Pogy's Security</b></u><br>
We implement a variety of security measures when a user places an order, enters, submits, or accesses their<br>information to maintain your personal information's safety. But remember that our storage is not 100% secured, and we<br>cannot guarantee its 100% safe.<br>
<br>
<b><u>Want us to remove your data?</b></u><br>
Personal Data is stored for as long as required by the purpose they have been<br>collected for. However, if you want us to delete your data, you can request data deletion at<br>any time by contacting us!
</p>
</div>

<%- include("partials/mainfooter") %>
<%- include("partials/footer") %>