<%- include("partials/head", { bot, arc, user, path, description, title: "Pogy - Team",  url, image }) %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="titlehover">
<h1 style="text-align: center; font-size: 45px ">Meet the Team!</h1>
</div>
<br>
<br>
<br>
<br>

<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<div  style="text-align: center; color: white">
	<div class="team-section">
		<div class="inner-width">
			<div class="pers">
				
				<div class="pe">
					<img src="<%domain%>/avatars/peter.gif" alt="Peter">
					<div class="p-name">Peter_#4444</div>
					<div class="p-des">Developer</div>
					<div class="p-sm">
						<a href="https://discord.gg/FqdH4sfKBg"><i class="fab fa-discord" style="color: white"></i></a>
						<a href="https://github.com/pogy-bot"><i class="fab fa-github" style="color: white"></i></a>
						<a href="https://www.youtube.com/channel/UCTJGUCz2IVwQi1Yw725Ifaw"><i class="fab fa-youtube" style="color: white"></i></a>

					</div>
				</div>

				<div class="pe">
					<img src="<%domain%>/avatars/wlegit.png" alt="wlegit">
					<div class="p-name">W-Legit#6969</div>
					<div class="p-des">Developer</div>
					<div class="p-sm">
						<a href="https://twitter.com/w_legit"><i class="fab fa-twitter" style="color: white"></i></a>
						<a href="https://www.youtube.com/channel/UCqwJJi3gbIf3a90oh7QulSA"><i class="fab fa-youtube" style="color: white"></i></a>
						<a href="https://github.com/WLegit"><i class="fab fa-github" style="color: white"> </i></a>
					</div>
				</div>

				<div class="pe">
					<img src="<%domain%>/avatars/sui.png" alt="Sui">
					<div class="p-name">Sui#6444</div>
					<div class="p-des">Staff</div>
					<div class="p-sm">
						<a href="https://www.instagram.com/cc.sui/"><i class="fab fa-instagram" style="color: white"></i></a>
						<a href="https://github.com/Datsui"><i class="fab fa-github" style="color: white"></i></a>
					</div>
				</div>

<div class="pe">
					<img src="<%domain%>/avatars/streaks.gif" alt="Streaks">
					<div class="p-name">Streaks#0001</div>
					<div class="p-des">Staff</div>
					<div class="p-sm">
						<a href="https://www.reddit.com/user/iStr34kZ"><i class="fab fa-reddit" style="color: white"></i></a>
						<a href="https://github.com/NotStreaks"><i class="fab fa-github" style="color: white"></i></a>
						<a href="https://www.instagram.com/certii.has/"><i class="fab fa-instagram" style="color: white"></i></a>
						<a href="https://twitter.com/iStr34kZ"><i class="fab fa-twitter" style="color: white"></i></a>
					</div>
				</div>


        <div class="pe">
					<img src="<%domain%>/avatars/indo.png" alt="indo">
					<div class="p-name">indominus#3215</div>
					<div class="p-des">Staff</div>
					<div class="p-sm">
						<a href="https://www.instagram.com/not_indo_/"><i class="fab fa-instagram" style="color: white"></i></a>
					</div>
				</div>


        <div class="pe">
					<img src="<%domain%>/avatars/chaz.gif" alt="Chaz">
					<div class="p-name">$ chaz#2177</div>
					<div class="p-des">Staff</div>
					<div class="p-sm">
						<a href="https://www.instagram.com/chaz.xy/"><i class="fab fa-instagram" style="color: white"></i></a>
						<a href="https://www.youtube.com/channel/UCtAlwmhmowJxOqdApTLafRw"><i class="fab fa-youtube" style="color: white"></i></a>
					</div>
				</div>
<div class="pe">
					<img src="<%domain%>/avatars/scoopy.png" alt="Scoopy">
					<div class="p-name">Scoopy#3647</div>
					<div class="p-des">Support</div>
					<div class="p-sm">
						<a href="https://discord.gg/MsyTvcYxEU"><i class="fab fa-discord" style="color: white"></i></a>
          <a href="https://www.instagram.com/seif.sights/"><i class="fab fa-instagram" style="color: white"></i></a>
          <a href="https://github.com/ELCScopes"><i class="fab fa-github" style="color: white"></i></a>
					</div>
          </div>
        <div class="pe">
					<img src="<%domain%>/avatars/ace.png" alt="Ace">
					<div class="p-name">Λcє#0001</div>
					<div class="p-des">Contributor</div>
					<div class="p-sm">
						<a href="https://github.com/Glitchii/"><i class="fab fa-github" style="color: white"></i></a>
					</div>
				</div>

                <div class="pe">
					<img src="<%domain%>/avatars/slayer.png" alt="slayer">
					<div class="p-name">Slayer#3102</div>
					<div class="p-des">Contributor</div>
					<div class="p-sm">
						<a href="https://github.com/ghostslayer"><i class="fab fa-github" style="color: white"></i></a>
						<a href="https://twitter.com/GhostSlayeri"><i class="fab fa-twitter" style="color: white"></i></a>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
<style>
/**
{
	margin: 0;
	padding: 0;
	font-family: 'Exo', sans-serif;
}*/

.team-section
{
	background: #222222
	text-align: center;
}

.inner-width
{
	max-width: 1200px;
	margin: auto;
	padding: 40px;
	color: #333;
	overflow: hidden;
}

.team-section h1
{
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 4px solid;
	padding-bottom: 10px;
}

.pe
{
	float: left;
	width: calc(100% / 3);
	overflow: hidden;
	padding: 40px 0;
	transition: 0.4s;
}

.pe:hover
{
	background: #2f2f2f;
}

.pe img
{
	width:240px;
	height: 240px;
	border-radius: 50%;
}
.pe img:hover
{
transform: scale(0.9); 
border: 5px solid black;
}
.p-name
{
	margin: 5px;
	text-transform: uppercase;
  color: white
}

.p-des
{
	font-style: italic;
  color: #acacb3
}

.p-sm
{
	margin-top: 6px;
  color: white
}

.p-sm a
{
	margin: 0 4px;
	display: inline-block;
	width: 30px;
	height: 30px;
	transition: 0.4s;
  color: white
}

.p-sm a:hover
{
	transform: scale(1.3);
}

.p-sm a i
{
	color: #333;
	line-height: 30px;
}

@media screen and (max-width: 960px) {
	.pe{
		width: 45%;
	}
}
@media screen and (max-width: 768px) {
	.pe{
		width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.pe{
		width: 100%;
	}
}
.titlehover{
animation: hover 3s infinite;
} 
@keyframes hover {
  0%   {top: 0px;}
  50%  {top: 80px;}
  100% {top: 0px;}
}
</style>
<%- include("partials/mainfooter") %>
<%- include("partials/footer") %>